# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Redis changes for local windows dev environment
sites/all/modules/field_group/redis
sites/all/modules/pathauto/redis

